// Variables color
$background-color: #fafaf0;
$input-error-message-color: #eb2305;
$shadow-color: #d1d1cb;
$tgBotLink-color: #fafa89;
$task-background-color: #fcfcfa;
$header-background-color: #5e5e5c;

//Variables viewport
$tablet-width: 768px;
$desktop-width: 1440px;